<style>
    footer {
        color: black;
        display: flex;
        justify-content: space-around;
        padding: 5px;
        background-color: #e4e0d7;
    }
    
    .footer-container {
        padding-left: 20px;
    }
    
    .footer-container h5 {
        margin-bottom: 20px;
    }
    
    .footer-container p, .footer-container a {
        margin-bottom: 10px;
        color: black;
        text-decoration: none;
    }
    
    .footer-container img {
        width: 120px;
    }
    
    .fa {
        padding-right: 5px;
    }
    
    p {
        color: black;
    }
    
</style>

<footer class="py-5">
    <div class="footer-container">
        <h5>Customer Service</h5>
        <p><a href="/contactUs">Contact Us</a></p>
        <p><a href="/aboutUs">About Us</a></p>
    </div>
    <div class="footer-container">
        <h5>Payment</h5>
        <img src="/images/visa.jpg" alt="Visa Payment Methods">
        <br><br>
        <img src="/images/mastercard.jpg" alt="Mastercard Payment Methods">
        <br><br>
        <img src="/images/paypal.png" alt="Paypal Payment Methods">
    </div>
    <div class="footer-container">
        <h5>Follow Us</h5>
        <a href="https://www.instagram.com/" class="text-decoration-none">
            Instagram
        </a>
        <span>&hearts; GadgetTech</span>
    </div>
</footer>
