<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>GadgetTech - About Us</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script src="/bootstrap/css/bootstrap.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
p {
	font-size: 25px;
}

h1 {
	text-align: center;
}

.head {
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: red;
}

.video-container {
	position: relative;
	padding-bottom: 56%;
	height: 0;
	margin-bottom: 25px;
}

.video-responsive {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
}

body {
    background-color: #f1ece3;
}
</style>

</head>

<body>
	<div th:replace="/fragments/header"></div>
	<div class="container">
		<h1>
			<u>About Us</u>
		</h1>
		<div class="video-container">
			<iframe class="video-responsive"
				src="https://www.youtube.com/embed/5BPeJE7nfd0" frameborder="0"
				allowfullscreen></iframe>
		</div>
		<p>Welcome to GadgetTech, the one-stop shop for all your tech
			needs. As purveyors of the latest in smartphones, tablets, laptops,
			and desktop computers, we're dedicated to offering top-tier gadgets
			and the essential spare parts like motherboards and nano chips to
			keep your devices running smoothly. Our selection is tailored for the
			tech enthusiast seeking the best in performance, style, and
			durability.</p>

		<p>We're more than just a retailer; we're a hub for those who
			thrive on the cutting edge of technology. Our knowledgeable team is
			committed to empowering you with the right tools and advice to
			amplify your productivity and connect with the future of tech. At
			GadgetTech, we don't just sell gadgets—we enrich lives through
			innovation and expert-supported solutions.</p>
	</div>
	<div th:replace="/fragments/footer"></div>
</body>